name: build

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write
      id-token: write # Required for authentication using OIDC

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: 'stable'

      - run: dart pub get
#      - run: dart format --output=none --set-exit-if-changed .
      - run: dart analyze
      - run: dart test

      - name: Verify package validity
        run: |
          dart pub publish --dry-run

      - name: Publish to Pub.dev
        run: |
          dart pub publish --force